body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
#search-block {
    position: absolute;
    background: white;
    width: 100%;
    margin-top: -25px;
    height: max-content;
    min-height: 400px;
    border: 1px solid black;
    overflow-y: scroll;
    display: none;
}